{% extends "./wrapper.html" %}{% load actionkit_tags %}

{% block content %}

<form class="row" name="act" method="POST" action="/act/" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

        <div class="row">

            <div class="col-md-8 col-md-offset-2" style="">
                <div class="row">
                    <div class="col-md-12">
                        <h2>
                        {% if page.custom_fields.headline %}
                            {{ page.custom_fields.headline }}
                        {% else %}
                            {{ page.title }}
                        {% endif %}
                        </h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        {% autoescape off %}
                        <div class="ak-text-expander">{% include_tmpl form.about_text %}</div>
                        <a href="#" class="ak-read-more ak-mobile" data-lines="10">Read more</a>
                        {% endautoescape %}
                    </div>
                    <div class="col-md-6">
                        {# will add custom field image later #}
                        <img src="http://placeimg.com/1000/500/nature" class="img-responsive featured-img">

                        {% if page.custom_fields.featured_image %}
                        <!-- <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}"> -->
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                <div class="row">

                    <div class="col-md-7">

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {% if form.statement_leadin %}
                                {% autoescape off %}
                                <div class="panel-title">
                                    {% include_tmpl form.statement_leadin %}
                                </div>
                                {% endautoescape %}
                                {% endif %}
                            </div>

                            <div class="panel-body">
                                <p>Recipients: {{ context.targets.are }}</p>
                                <p>Editable message:</p>
                                <textarea id="id_comment" name="action_comment" class="form-control" rows="20">{% include_tmpl form.letter_text escaped %}</textarea>
                            </div>

                        </div>

                    </div>

                    <div class="col-md-5">

                        {% include "./progress_meter.html" %}

                        <p>Enter your contact information below. Required fields are marked with an *</p>

                        <div id="letter-form" class="ak-styled-fields {{templateset.custom_fields.field_labels_class|default:"ak-labels-overlaid"}} {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">

                            {% include "./user_form_wrapper.html" %}

                            {# Optional TAF {% include "./inline_tellafriend.html" %} #}

                            <button type="submit" class="btn btn-primary">Send!</button>

                        </div>

                    </div>

                </div>

            </div>

        </div>

</form>

{% endblock %}
