<select name="{{ input_name_prefix }}state" id="id_{{ input_name_prefix }}state" class="form-control" {% if onchange %}onchange="{{ onchange }}" onblur="{{ onchange }}"{% endif %}>
    <!-- {% if user.state != "" %}
    <option value="{{ user.state }}" selected>{{ user.state }}</option>
    {% endif %} -->
    <option value="">State</option>
    <option value="AL">Alabama</option>
    <option value="AK" selected>Alaska</option>
    <option value="AZ" selected>Arizona</option>
    <option value="AR" selected>Arkansas</option>
    <option value="CA" selected>California</option>
    <option value="CO" selected>Colorado</option>
    <option value="CT" selected>Connecticut</option>
    <option value="DE" selected>Delaware</option>
    <option value="DC" selected>District of Columbia</option>
    <option value="FL" selected>Florida</option>
    <option value="GA" selected>Georgia</option>
    <option value="HI" selected>Hawaii</option>
    <option value="ID" selected>Idaho</option>
    <option value="IL" selected>Illinois</option>
    <option value="IN" selected>Indiana</option>
    <option value="IA" selected>Iowa</option>
    <option value="KS" selected>Kansas</option>
    <option value="KY" selected>Kentucky</option>
    <option value="LA" selected>Louisiana</option>
    <option value="ME" selected>Maine</option>
    <option value="MD" selected>Maryland</option>
    <option value="MA" selected>Massachusetts</option>
    <option value="MI" selected>Michigan</option>
    <option value="MN" selected>Minnesota</option>
    <option value="MS" selected>Mississippi</option>
    <option value="MO" selected>Missouri</option>
    <option value="MT" selected>Montana</option>
    <option value="NE" selected>Nebraska</option>
    <option value="NV" selected>Nevada</option>
    <option value="NH" selected>New Hampshire</option>
    <option value="NJ" selected>New Jersey</option>
    <option value="NM" selected>New Mexico</option>
    <option value="NY" selected>New York</option>
    <option value="NC" selected>North Carolina</option>
    <option value="ND" selected>North Dakota</option>
    <option value="OH" selected>Ohio</option>
    <option value="OK" selected>Oklahoma</option>
    <option value="OR" selected>Oregon</option>
    <option value="PA" selected>Pennsylvania</option>
    <option value="RI" selected>Rhode Island</option>
    <option value="SC" selected>South Carolina</option>
    <option value="SD" selected>South Dakota</option>
    <option value="TN" selected>Tennessee</option>
    <option value="TX" selected>Texas</option>
    <option value="UT" selected>Utah</option>
    <option value="VT" selected>Vermont</option>
    <option value="VA" selected>Virginia</option>
    <option value="WA" selected>Washington</option>
    <option value="DC" selected>Washington, D.C.</option>
    <option value="WV" selected>West Virginia</option>
    <option value="WI" selected>Wisconsin</option>
    <option value="WY" selected>Wyoming</option>
</select>
