<select name="{{ input_name_prefix }}state" id="id_{{ input_name_prefix }}state" class="form-control" {% if onchange %}onchange="{{ onchange }}" onblur="{{ onchange }}"{% endif %}>
    {% if {{ user.state }} == "AL" %}
    <option value="AL" selected>Alabama</option>
    {% elif {{ user.state }} == "AK" %}
    <option value="AK" selected>Alaska</option>
    {% elif {{ user.state }} == "AZ" %}
    <option value="AZ" selected>Arizona</option>
    {% elif {{ user.state }} == "AR" %}
    <option value="AR" selected>Arkansas</option>
    {% elif {{ user.state }} == "CA" %}
    <option value="CA" selected>California</option>
    {% elif {{ user.state }} == "CO" %}
    <option value="CO" selected>Colorado</option>
    {% elif {{ user.state }} == "CT" %}
    <option value="CT" selected>Connecticut</option>
    {% elif {{ user.state }} == "DE" %}
    <option value="DE" selected>Delaware</option>
    {% elif {{ user.state }} == "DC" %}
    <option value="DC" selected>District of Columbia</option>
    {% elif {{ user.state }} == "FL" %}
    <option value="FL" selected>Florida</option>
    {% elif {{ user.state }} == "GA" %}
    <option value="GA" selected>Georgia</option>
    {% elif {{ user.state }} == "HI" %}
    <option value="HI" selected>Hawaii</option>
    {% elif {{ user.state }} == "ID" %}
    <option value="ID" selected>Idaho</option>
    {% elif {{ user.state }} == "IL" %}
    <option value="IL" selected>Illinois</option>
    {% elif {{ user.state }} == "IN" %}
    <option value="IN" selected>Indiana</option>
    {% elif {{ user.state }} == "IA" %}
    <option value="IA" selected>Iowa</option>
    {% elif {{ user.state }} == "KS" %}
    <option value="KS" selected>Kansas</option>
    {% elif {{ user.state }} == "KY" %}
    <option value="KY" selected>Kentucky</option>
    {% elif {{ user.state }} == "LA" %}
    <option value="LA" selected>Louisiana</option>
    {% elif {{ user.state }} == "ME" %}
    <option value="ME" selected>Maine</option>
    {% elif {{ user.state }} == "MD" %}
    <option value="MD" selected>Maryland</option>
    {% elif {{ user.state }} == "MA" %}
    <option value="MA" selected>Massachusetts</option>
    {% elif {{ user.state }} == "MI" %}
    <option value="MI" selected>Michigan</option>
    {% elif {{ user.state }} == "MN" %}
    <option value="MN" selected>Minnesota</option>
    {% elif {{ user.state }} == "MS" %}
    <option value="MS" selected>Mississippi</option>
    {% elif {{ user.state }} == "MO" %}
    <option value="MO" selected>Missouri</option>
    {% elif {{ user.state }} == "MT" %}
    <option value="MT" selected>Montana</option>
    {% elif {{ user.state }} == "NE" %}
    <option value="NE" selected>Nebraska</option>
    {% elif {{ user.state }} == "NV" %}
    <option value="NV" selected>Nevada</option>
    {% elif {{ user.state }} == "NH" %}
    <option value="NH" selected>New Hampshire</option>
    {% elif {{ user.state }} == "NJ" %}
    <option value="NJ" selected>New Jersey</option>
    {% elif {{ user.state }} == "NM" %}
    <option value="NM" selected>New Mexico</option>
    {% elif {{ user.state }} == "NY" %}
    <option value="NY" selected>New York</option>
    {% elif {{ user.state }} == "NC" %}
    <option value="NC" selected>North Carolina</option>
    {% elif {{ user.state }} == "ND" %}
    <option value="ND" selected>North Dakota</option>
    {% elif {{ user.state }} == "OH" %}
    <option value="OH" selected>Ohio</option>
    {% elif {{ user.state }} == "OK" %}
    <option value="OK" selected>Oklahoma</option>
    {% elif {{ user.state }} == "OR" %}
    <option value="OR" selected>Oregon</option>
    {% elif {{ user.state }} == "PA" %}
    <option value="PA" selected>Pennsylvania</option>
    {% elif {{ user.state }} == "RI" %}
    <option value="RI" selected>Rhode Island</option>
    {% elif {{ user.state }} == "SC" %}
    <option value="SC" selected>South Carolina</option>
    {% elif {{ user.state }} == "SD" %}
    <option value="SD" selected>South Dakota</option>
    {% elif {{ user.state }} == "TN" %}
    <option value="TN" selected>Tennessee</option>
    {% elif {{ user.state }} == "TX" %}
    <option value="TX" selected>Texas</option>
    {% elif {{ user.state }} == "UT" %}
    <option value="UT" selected>Utah</option>
    {% elif {{ user.state }} == "VT" %}
    <option value="VT" selected>Vermont</option>
    {% elif {{ user.state }} == "VA" %}
    <option value="VA" selected>Virginia</option>
    {% elif {{ user.state }} == "WA" %}
    <option value="WA" selected>Washington</option>
    {% elif {{ user.state }} == "DC" %}
    <option value="DC" selected>Washington, D.C.</option>
    {% elif {{ user.state }} == "WV" %}
    <option value="WV" selected>West Virginia</option>
    {% elif {{ user.state }} == "WI" %}
    <option value="WI" selected>Wisconsin</option>
    {% elif {{ user.state }} == "WY" %}
    <option value="WY" selected>Wyoming</option>
    {% else %}
    <option value="">State</option>
    <option value="AL">Alabama</option>
    <option value="AK" selected>Alaska</option>
    <option value="AZ" selected>Arizona</option>
    <option value="AR" selected>Arkansas</option>
    <option value="CA" selected>California</option>
    <option value="CO" selected>Colorado</option>
    <option value="CT" selected>Connecticut</option>
    <option value="DE" selected>Delaware</option>
    <option value="DC" selected>District of Columbia</option>
    <option value="FL" selected>Florida</option>
    <option value="GA" selected>Georgia</option>
    <option value="HI" selected>Hawaii</option>
    <option value="ID" selected>Idaho</option>
    <option value="IL" selected>Illinois</option>
    <option value="IN" selected>Indiana</option>
    <option value="IA" selected>Iowa</option>
    <option value="KS" selected>Kansas</option>
    <option value="KY" selected>Kentucky</option>
    <option value="LA" selected>Louisiana</option>
    <option value="ME" selected>Maine</option>
    <option value="MD" selected>Maryland</option>
    <option value="MA" selected>Massachusetts</option>
    <option value="MI" selected>Michigan</option>
    <option value="MN" selected>Minnesota</option>
    <option value="MS" selected>Mississippi</option>
    <option value="MO" selected>Missouri</option>
    <option value="MT" selected>Montana</option>
    <option value="NE" selected>Nebraska</option>
    <option value="NV" selected>Nevada</option>
    <option value="NH" selected>New Hampshire</option>
    <option value="NJ" selected>New Jersey</option>
    <option value="NM" selected>New Mexico</option>
    <option value="NY" selected>New York</option>
    <option value="NC" selected>North Carolina</option>
    <option value="ND" selected>North Dakota</option>
    <option value="OH" selected>Ohio</option>
    <option value="OK" selected>Oklahoma</option>
    <option value="OR" selected>Oregon</option>
    <option value="PA" selected>Pennsylvania</option>
    <option value="RI" selected>Rhode Island</option>
    <option value="SC" selected>South Carolina</option>
    <option value="SD" selected>South Dakota</option>
    <option value="TN" selected>Tennessee</option>
    <option value="TX" selected>Texas</option>
    <option value="UT" selected>Utah</option>
    <option value="VT" selected>Vermont</option>
    <option value="VA" selected>Virginia</option>
    <option value="WA" selected>Washington</option>
    <option value="DC" selected>Washington, D.C.</option>
    <option value="WV" selected>West Virginia</option>
    <option value="WI" selected>Wisconsin</option>
    <option value="WY" selected>Wyoming</option>
    {% endif %}
</select>
