html {
	
}

.row {
	margin-top:10px;
	margin-bottom:15px;
}

button {
	height:initial;
}

/* DONATION STYLES */
.donation-steps-box {
	border-radius:4px;
}

/* FORM STYLES */

.donation-input {
	border-top:0;
	border-left:0;
	border-right:0;
	border-bottom: 2px solid lightblue;
}

.donation-steps-box .input-group-addon {
	padding:3px 12px;
}
.donation-amount-input-group-addon {
	width:0%;
}


footer {
	background-color:#efefef;
	margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}