html {
	
}

.row {
	margin-top:10px;
	margin-bottom:15px;
}

button {
	height:initial;
}

/* DONATION STYLES */
.donation-steps-box {
	
}

/* FORM STYLES */

.donation-amount-input-group-addon {
	width:0%;
}


footer {
	background-color:#efefef;
	margin-top: 0;
    margin-bottom: 0;
    padding: 20px;
}