html {
	
}

.hero {
	position:relative;
	text-align:center;
	background-image:
		linear-gradient(
			rgba(0, 0, 0, 0.5),
			rgba(0, 0, 0, 0.5)
		);
}


.hero .featured-img {
	height:100vh;
}

.hero h2 {
	position:absolute;
	top:50px;
}